<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:doap="http://usefulinc.com/ns/doap#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xml:lang="en"
  lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ruby RDFa Distiller</title>
  <meta name="Author" content="Gregg Kellogg" />
</head>
<body about="<%= root_url %>" typeof="doap:Project">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
